.slide_style {
  .slick-slide {
    height: 300px; /* 원하는 세로 크기로 조절합니다. */
    background-color: #ccc; /* 슬라이드의 배경색을 지정할 수 있습니다. */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}